__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/
ENV/

*.db
*.sqlite

.vscode/
.idea/

assets/

validate_out.txt
validation.txt
explore.py
explore2.py
error.log
inference_test.log
git_push_error.txt
push_error.txt
docker_build.log

.DS_Store
Thumbs.db
